<header style="background-image: url(/assets/home.jpg);">
  <h2><%= @article.title %></h2>
</header>
<div class="text">
  <% if @article.errors.any? %>
    <ul class="errors">
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <p><%= @article.description %></p>
  <%= link_to 'Edit', edit_article_path(@article) %>
</div>
